<html>
<head>
		<meta charset="utf-8" />
		<title>token</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		<base href="/" />
		<link rel="stylesheet" type="text/css"
		    href="/webjars/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css"
		    href="/css/client.css" />
		<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>		
		<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
		<script type="text/javascript" src="/js/test.js"></script>
</head>
<body>
	<h1>test success,token:</h1><input id="token" name="token" type="text" />
	<button type="button" id="btnGetResource">获取资源</button>
</body>
</html>